$primary:#c69963;
$primary-dark:#B28451;
$secondary:#101d2c;
$gray-light-1:#f9f7f6;
$gray-light-2:#aaa;
$gray-dark-1:#54483A;
$gray-dark-2:#6D5D4B;

$primary-font: "Nunito", sans-serif;
$secondary-font:"Josefin Sans", sans-serif;

$bg-largest:75em; //1200px
$bg-large:62.5em; //1000px
$bp-medium :50em ; //800px
$bp-small:37.5em; //600px